*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height:400px;
    width:250px;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(128,134,134);
}


#userinput{
    border-style: 1px solid rgb (11,11,11);
    height:80px;
    width:100%;
    border-radius: 5px;
}
.keypad{
    border:1px solid black;

}
.keypad button{
    border-bottom: 50%;
    height:40px;
    width:50px;
    border-style: none;
    margin: 10px 1px;
    border-radius: 50%;
}
